@model CS.Api.Facade.Models.Home.Home.UserProfileModel

@using (Html.BeginForm("Login", "Home", FormMethod.Post, new { style = "height: 100%" }))
{
    @Html.AntiForgeryToken()
    <div class="row" style="height: 100%">
        <div class="col-md-8" style="height: 100%">
            <div class="imgContainer"></div>
        </div>
        <div class="col-md-4" style="margin-top: 100px;">
            <div class="login-box">
                <div class="login-logo">
                    <a><b>Demo</b> App</a>
                </div>
                <div class="login-box-body">
                    <p class="login-box-msg">Sign in to start your session</p>
                    <form method="post">
                        <div class="form-group has-feedback">
                            @Html.TextBoxFor(a => Model.UserName, new { @class = "form-control", @placeholder = "Username", @required = "required", @style = "border-radius: 25px;" })
                            <span class="glyphicon glyphicon-user form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            @Html.PasswordFor(a => Model.Password, new { @class = "form-control", @placeholder = "Password", @required = "required", @style = "border-radius: 25px;" })
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button type="submit" class="btn btn-primary btn-block btn-flat" style="border-radius: 25px;">Sign In</button>
                            </div>
                        </div>
                    </form>
                    <a href="#">I forgot my password</a><br>
                </div>
            </div>
        </div>
    </div>
}
