<!DOCTYPE html>
<html style="height: 100%;">
<head>
    <meta charset="utf-8" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>DemoApp</title>
    <!-- Styles -->
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <!-- AdminLTE -->
    <link href="~/Content/AdminLTE/AdminLTE.min.css" rel="stylesheet" />
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    <style>
        body, html {
            height: 100%;
            margin: 0;
        }

        .imgContainer {
            /* The image used */
            background-image: url("http://uniqueoffice.systems/wp-content/uploads/2019/08/linked.jpg");
            /* Full height */
            height: 100%;
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>
    @RenderBody()
</body>
</html>
